PORT=3000
FRONTEND_URL=http://localhost:3000

# Configurações do backend (serverless functions)
JWT_SECRET=3b13e9b9f1d09602157bf783b85f38212b0d2ffdad8f996a6bb2cd1474ca3b7e
PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_CLUSTER=

# Configurações do Upstash Redis (banco de dados)
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Configurações do Cloudinary (uploads)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
